@model IEnumerable<CinemasRafa.Models.Series>

@{
    ViewData["Title"] = "Index";
}
<h1>Control Series</h1>
<p class="mt-3">
    <a class="btn btn-primary" asp-controller="Series" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pegi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temporada)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pegi.EdadMin)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.Temporada)
            </td>
            <td>
                <a class="btn btn-warning" asp-controller="Series" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-secondary" asp-controller="Series" asp-action="Details" asp-route-id="@item.Id">Info</a>
                <a class="btn btn-danger" asp-controller="Series" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
