@model IEnumerable<CinemasRafa.Models.RoleHasMenu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Menu.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleDescription)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ID">Info</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
