@model CinemasRafa.Models.Series

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Series</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temporada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEstreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEstreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaTerminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaTerminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlDescarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlDescarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valoracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pegi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pegi.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
