@using CinemasRafa.Util
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinemasRafa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="~/lib/Screenshot 2022-06-08 194542.png" style="height:60px; border-radius:20px;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></img>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("labels") != null && Context.Session.GetString("controllers") != null && Context.Session.GetString("actions") != null)
                        {
                            string[] controllers = Context.Session.GetString("controllers").Split(',');
                            string[] labels = Context.Session.GetString("labels").Split(',');
                            string[] actions = Context.Session.GetString("actions").Split(',');
                            @for (int i = 0; i < controllers.Count(); i++)
                            {
                                if( i < controllers.Count() - 1) {
                                    <li class="nav-item">
                                        <a class="nav-link " asp-area="" asp-controller="@controllers[i]" asp-action="@actions[i]">@labels[i]</a>
                                    </li>
                                }

                            }

                            <li class="nav-item ms-auto d-flex flex-row">
                                <a class="text-light btn btn-danger" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CinemasRafa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
